In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("./input_data/urban-area-long-term.csv", delimiter=',')

In [35]:
print(df)

              country   Year Land use: Built-up area
0         Afghanistan -10000                       0
1              Africa -10000                       0
2             Albania -10000                       0
3             Algeria -10000                       0
4      American Samoa -10000                       0
...               ...    ...                     ...
26833  Western Sahara   2023              51.569.653
26834           World   2023               831572.56
26835           Yemen   2023              29.956.204
26836          Zambia   2023              13.076.809
26837        Zimbabwe   2023              25.801.023

[26838 rows x 3 columns]

In [36]:
from perform_job import read_records_from_db

In [37]:
df = read_records_from_db()

In [38]:
df

,country,Year,Land use: Built-up area,batch_reference,data_vol
0,Afghanistan,-10000,0,600403,60
1,Africa,-10000,0,600403,60
2,Albania,-10000,0,600403,60
3,Algeria,-10000,0,600403,60
4,American Samoa,-10000,0,600403,60
...,...,...,...,...,...
21738775,Western Sahara,2023,51.569.653,679042,60
21738776,World,2023,831572.56,679042,60
21738777,Yemen,2023,29.956.204,679042,60
21738778,Zambia,2023,13.076.809,679042,60
21738779,Zimbabwe,2023,25.801.023,679042,60

In [39]:
df.to_csv("current_records.csv")

In [17]:
df['data_vol'].unique()

array(['10'], dtype=object)